# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Dataset - do not push IMDB dataset to GitHub
data/

# Model checkpoints / large artifacts
*.pt
*.pth
*.ckpt

# OS
.DS_Store
Thumbs.db
